<div class="row h-100 align-items-center">
  <div class="row justify-content-center text-center">
    <h2 class="fs-4 py-2">Rastrear Encomenda</h2>
    
    <div class="col-sm-12 col-md-6">
      <div class="input-group  ">
        <input type="text" class="form-control" (keyup.enter)="rastrear()" [(ngModel)]="codigo"
          placeholder="Código Rastreio" aria-label="Código Rastreio" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-dark" type="button" (click)="rastrear()" [disabled]="!codigo">Rastrear</button>
        </div>
      </div>
      <img src="/assets/image/image.jpg" class="img-fluid" />
    </div>
  </div>
