  <header>
    <nav class="navbar fixed-top navbar-light bg-light shadow-sm">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/assets/image/imagem2.png" alt="Papa-Léguas logo" title="Papa-Léguas" width="50">
          Papa-Léguas Encomendas
        </a>
      </div>
    </nav>
  </header>
  <main class="container-fluid">
    <div class="row h-100">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <footer class="rodape bg-secondary bg-gradient py-2">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <span>Copyright© Thiago Dorea</span>
        </div>
      </div>
    </div>
  </footer>
